# SimFin Test All Datasets

This Notebook performs automated testing of all the bulk datasets from SimFin. The datasets are first downloaded from the SimFin server and then various tests are performed on the data. An exception is raised if any problems are found.

This Notebook can be run as usual if you have `simfin` installed, by running the following command from the directory where this Notebook is located:

    jupyter notebook

This Notebook can also be run using `pytest` which makes automated testing easier. You need to have the Python packages `simfin` and `nbval` installed. Then execute the following command from the directory where this Notebook is located:

    pytest --nbval-lax test_bulk_data.ipynb
    
This runs the entire Notebook and outputs error messages for all the cells that raised an exception.

## Imports

In [1]:
import pandas as pd
import numpy as np
import sys

In [2]:
import simfin as sf
from simfin.names import *
from simfin.datasets import *

## Configure SimFin

In [3]:
sf.set_data_dir('~/simfin_data/')

In [4]:
sf.load_api_key(path='~/simfin_api_key.txt', default_key='free')

## Load All Datasets

In [5]:
%%time
# Use refresh_days=0 to always download new data.
data = AllDatasets(refresh_days=0)

Loading "income-annual" from disk (3 days old).
Loading "income-annual-full" from disk (3 days old).
Loading "income-quarterly" from disk (4 days old).
Loading "income-quarterly-full" from disk (3 days old).
Loading "income-ttm" from disk (4 days old).
Loading "income-ttm-full" from disk (3 days old).
Loading "income-banks-annual" from disk (3 days old).
Loading "income-banks-annual-full" from disk (3 days old).
Loading "income-banks-quarterly" from disk (4 days old).
Dataset "income-banks-quarterly-full" does not exist on disk, downloading ...

SimFin server error: An api key is needed for premium variants, please append your api-key to the query using the 'api-key' parameter.

Loading "income-banks-ttm" from disk (4 days old).
Loading "income-banks-ttm-full" from disk (3 days old).
Loading "income-insurance-annual" from disk (4 days old).
Loading "income-insurance-annual-full" from disk (3 days old).
Loading "income-insurance-quarterly" from disk (4 days old).
Dataset "income-insurance-quarterly-full" does not exist on disk, downloading ...

SimFin server error: An api key is needed for premium variants, please append your api-key to the query using the 'api-key' parameter.

Loading "income-insurance-ttm" from disk (4 days old).
Loading "income-insurance-ttm-full" from disk (3 days old).
Loading "balance-annual" from disk (4 days old).
Loading "balance-annual-full" from disk (3 days old).
Loading "balance-quarterly" from disk (4 days old).
Loading "balance-quarterly-full" from disk (3 days old).
Loading "balance-ttm" from disk (4 days old).
Loading "balance-ttm-full" from disk (3 days old).
Loading "balance-banks-annual" from disk (4 days old).
Loading "balance-banks-annual-full" from disk (3 days old).
Loading "balance-banks-quarterly" from disk (4 days old).
Loading "balance-banks-quarterly-full" from disk (3 days old).
Loading "balance-banks-ttm" from disk (4 days old).
Loading "balance-banks-ttm-full" from disk (3 days old).
Loading "balance-insurance-annual" from disk (4 days old).
Loading "balance-insurance-annual-full" from disk (3 days old).
Loading "balance-insurance-quarterly" from disk (4 days old).
Loading "balance-insurance-quarterly-full" from disk (3 days old).
Loading "balance-insurance-ttm" from disk (4 days old).
Loading "balance-insurance-ttm-full" from disk (3 days old).
Loading "cashflow-annual" from disk (4 days old).
Loading "cashflow-annual-full" from disk (3 days old).
Loading "cashflow-quarterly" from disk (4 days old).
Loading "cashflow-quarterly-full" from disk (3 days old).
Loading "cashflow-ttm" from disk (4 days old).
Loading "cashflow-ttm-full" from disk (3 days old).
Loading "cashflow-banks-annual" from disk (4 days old).
Loading "cashflow-banks-annual-full" from disk (3 days old).
Loading "cashflow-banks-quarterly" from disk (4 days old).
Loading "cashflow-banks-quarterly-full" from disk (3 days old).
Loading "cashflow-banks-ttm" from disk (4 days old).
Loading "cashflow-banks-ttm-full" from disk (3 days old).
Loading "cashflow-insurance-annual" from disk (4 days old).
Loading "cashflow-insurance-annual-full" from disk (3 days old).
Loading "cashflow-insurance-quarterly" from disk (4 days old).
Loading "cashflow-insurance-quarterly-full" from disk (3 days old).
Loading "cashflow-insurance-ttm" from disk (4 days old).
Loading "cashflow-insurance-ttm-full" from disk (3 days old).
Loading "shareprices-latest" from disk (0 days old).
Loading "shareprices-daily" from disk (3 days old).
Loading "companies" from disk (4 days old).
Loading "industries" from disk (4 days old).
CPU times: user 7.16 s, sys: 758 ms, total: 7.92 s
Wall time: 8.99 s

In [6]:
# Example for annual Income Statements.
data.get(dataset='income', variant='annual').head()

,Ticker,SimFinId,Currency,Fiscal Year,Fiscal Period,Report Date,Publish Date,Shares (Basic),Shares (Diluted),Revenue,...,Non-Operating Income (Loss),"Interest Expense, Net","Pretax Income (Loss), Adjusted",Abnormal Gains (Losses),Pretax Income (Loss),"Income Tax (Expense) Benefit, Net",Income (Loss) From Continuing Operations,Net Extraordinary Gains (Losses),Net Income,Net Income Available to Common Shareholders
0,GOOG,18,USD,2013,FY,2013-12-31,2015-10-29,NaN,NaN,5.551900e+10,...,4.960000e+08,NaN,1.589900e+10,NaN,15899000000,-2.739000e+09,13160000000,-427000000.0,12733000000,12733000000
1,GOOG,18,USD,2014,FY,2014-12-31,2015-10-29,NaN,NaN,6.600100e+10,...,7.630000e+08,NaN,1.725900e+10,NaN,17259000000,-3.639000e+09,13620000000,516000000.0,14136000000,14136000000
2,GOOG,18,USD,2015,FY,2015-12-31,2016-02-11,NaN,NaN,7.498900e+10,...,2.910000e+08,NaN,1.965100e+10,NaN,19651000000,-3.303000e+09,16348000000,0.0,16348000000,15826000000
3,GOOG,18,USD,2016,FY,2016-12-31,2017-02-03,NaN,NaN,9.027200e+10,...,4.340000e+08,NaN,2.415000e+10,NaN,24150000000,-4.672000e+09,19478000000,0.0,19478000000,19478000000
4,GOOG,18,USD,2017,FY,2017-12-31,2018-02-06,NaN,NaN,1.108550e+11,...,1.047000e+09,NaN,2.992900e+10,-2.736000e+09,27193000000,-1.453100e+10,12662000000,NaN,12662000000,12662000000

## Function for Testing Datasets

In [7]:
def test_datasets(test_name, datasets=None, variants=None,
                  test_func=None, test_func_rows=None,
                  process_df_none=False, raise_exception=True):
    """
    Helper-function for running tests on many Pandas DataFrames.
    
    :param test_name:
        String with the name of the test.
        
    :param datasets:
        By default (datasets=None) all possible datasets
        will be tested. Otherwise datasets is a list of
        strings with dataset names to be tested.
        
    :param variants:
        By default (variants=None) all possible variants
        for each dataset will be tested, as defined in
        simfin.datasets.valid_variants. Otherwise variants
        is a list of strings and only those variants
        will be tested.
        
    :param test_func:
        Function to be called on the Pandas DataFrame for
        each dataset. If there are problems with the DataFrame
        then return True, otherwise return False.
        
        This is generally used for testing problems with the
        entire DataFrame. For example, if the dataset is empty:

        test_func = lambda df: len(df) == 0
        
        If this returns True then there is a problem with df.
                
    :param test_func_rows:
        Similar to test_func but for testing individual rows
        of a DataFrame. For example, test if SHARES_BASIC is
        None, zero or negative:
        
        test_func_rows = lambda df: (df[SHARES_BASIC] is None or
                                     df[SHARES_BASIC] <= 0)

    :param process_df_none:
        Boolean whether to process (True) or skip (False)
        DataFrames that are None, because they could not be loaded.

    :param raise_exception:
        Boolean. If True then raise an exception if there were
        any problems, but wait until all datasets have been
        tested, so we can print the list of datasets with problems.
        
    :return:
        None
    """
    
    # Convert test_func_rows to test_func.
    if test_func_rows is not None:
        test_func = lambda df: test_func_rows(df).any()

    # Empty list of dataset/variant names that have problems.
    problems = []

    # For all datasets and variants.
    for dataset, variant, df in data.iter(datasets=datasets,
                                          variants=variants):
        # Also process DataFrames that are None,
        # because they could not be loaded?
        if df is not None or process_df_none:
            try:
                # Perform the user-supplied test.
                problem_found = test_func(df)
            except:
                # An exception occurred so we consider
                # that to be a problem.
                problem_found = True

            if problem_found:
                # If the test found a problem on a
                # dataset and variant, add the names to
                # a list so we can print them later.
                pair = (dataset, variant)
                problems.append(pair)

    # If any problems were found.
    if len(problems) > 0:
        # Print the test's name.
        print("{}".format(test_name), file=sys.stderr)

        # Print all dataset-variant names that had problems.
        for dataset, variant in problems:
            msg = "dataset='{}', variant='{}'"
            msg = msg.format(dataset, variant)
            print(msg, file=sys.stderr)

        # Raise exception?
        if raise_exception:
            raise Exception(test_name)

## Function for Getting Rows with Problems

When a test has found problems in a dataset, it does not show which specific rows have the problem. You can get all the problematic rows using this function:

In [8]:
def get_problem_rows(df, test_func_rows):
    """
    Perform the given test on all rows of the given DataFrame
    and return a DataFrame with only the problematic rows.
    
    :param df:
        Pandas DataFrame.

    :param test_func_rows:
        Function used for testing each row. This takes
        a Pandas DataFrame as an argument and returns
        a Pandas Series of booleans whether each row
        in the original DataFrame has the error.
        
        For example:
        
        test_func_rows = lambda df: (df[SHARES_BASIC] is None or
                                     df[SHARES_BASIC] <= 0)

    :return:
        Pandas DataFrame with only the problematic rows.
    """

    # Index of the rows with problems.
    idx = test_func_rows(df)
    
    # Extract the rows with problems.
    df2 = df[idx]
    
    return df2

## Function for Testing Equality with Tolerance

This function is useful when comparing floating point numbers, or when comparing accounting numbers that are supposed to have a strict relationship (e.g. Assets = Liabilities + Equity) but we might tolerate a small degree of error in the data e.g. 1%.

In [9]:
def isclose(x, y, tolerance=0.01):
    """
    Compare whether x and y are approximately equal within
    the given tolerance, which is a ratio so tolerance=0.01
    means that we tolerate max 1% difference between x and y.
    
    This is similar to numpy.isclose() but is a more efficient
    implementation for Pandas which apparently does not have
    this built-in already (v. 0.25.1)
    
    :param x:
        Pandas DataFrame or Series.

    :param y:
        Pandas DataFrame or Series.

    :param tolerance:
        Max allowed difference as a ratio e.g. 0.01 = 1%.

    :return:
        Pandas DataFrame or Series with booleans whether
        x and y are approx. equal.
    """
    return (x-y).abs() <= tolerance * y.abs()

# Tests

## Dataset could not be loaded

In [10]:
test_name = "Dataset could not be loaded"
test_func = lambda df: df is None
test_datasets(datasets=datasets_all,
              test_name=test_name, test_func=test_func,
              process_df_none=True)

Dataset could not be loaded
dataset='income-banks', variant='quarterly-full'
dataset='income-insurance', variant='quarterly-full'

Exception: Dataset could not be loaded

## Dataset is empty

In [11]:
test_name = "Dataset is empty"
test_func = lambda df: len(df) == 0
test_datasets(datasets=datasets_all,
              test_name=test_name, test_func=test_func)

In [12]:
data.get(dataset='balance', variant='annual')

,Ticker,SimFinId,Currency,Fiscal Year,Fiscal Period,Report Date,Publish Date,Shares (Basic),Shares (Diluted),"Cash, Cash Equivalents & Short Term Investments",...,Short Term Debt,Total Current Liabilities,Long Term Debt,Total Noncurrent Liabilities,Total Liabilities,Share Capital & Additional Paid-In Capital,Treasury Stock,Retained Earnings,Total Equity,Total Liabilities & Equity
0,GOOG,18,USD,2014,Q4,2014-12-31,2015-10-29,NaN,NaN,6.439500e+10,...,2.009000e+09,1.677900e+10,3.228000e+09,8.548000e+09,2.532700e+10,2.876700e+10,NaN,7.506600e+10,1.038600e+11,129187000000
1,GOOG,18,USD,2015,Q4,2015-12-31,2016-02-11,NaN,NaN,7.306600e+10,...,3.225000e+09,1.931000e+10,1.995000e+09,7.820000e+09,2.713000e+10,3.298200e+10,NaN,8.922300e+10,1.203310e+11,147461000000
2,GOOG,18,USD,2016,Q4,2016-12-31,2017-02-03,NaN,NaN,8.633300e+10,...,NaN,1.675600e+10,3.935000e+09,1.170500e+10,2.846100e+10,3.630700e+10,NaN,1.051310e+11,1.390360e+11,167497000000
3,GOOG,18,USD,2017,Q4,2017-12-31,2018-02-06,NaN,NaN,1.018710e+11,...,NaN,2.418300e+10,3.969000e+09,2.061000e+10,4.479300e+10,4.024700e+10,NaN,1.132470e+11,1.525020e+11,197295000000
4,GOOG,18,USD,2018,Q4,2018-12-31,2019-02-05,NaN,NaN,1.091400e+11,...,NaN,3.462000e+10,4.012000e+09,2.054400e+10,5.516400e+10,4.504900e+10,NaN,1.348850e+11,1.776280e+11,232792000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17858,CRAY,941302,USD,2016,Q4,2016-12-31,2017-02-10,39977000.0,44693000.0,2.229620e+08,...,NaN,1.561350e+08,NaN,3.296100e+07,1.890960e+08,6.226040e+08,NaN,-9.991000e+07,5.254760e+08,714572000
17859,CRAY,941302,USD,2017,Q4,2017-12-31,2018-02-15,40312000.0,40312000.0,1.443230e+08,...,NaN,1.653430e+08,NaN,5.311700e+07,2.184600e+08,6.334080e+08,NaN,-2.340260e+08,4.002970e+08,618757000
17860,CRAY,941302,USD,2018,Q4,2018-12-31,2019-02-12,40834000.0,40834000.0,2.284340e+08,...,NaN,1.293380e+08,NaN,4.441500e+07,1.737530e+08,6.470450e+08,NaN,-3.068740e+08,3.433790e+08,517132000
17861,TBIO,941303,USD,2017,Q4,2017-12-31,2018-08-09,7978183.0,7978183.0,5.805500e+07,...,1.296000e+06,1.208500e+07,7.971300e+07,8.708100e+07,9.916600e+07,5.521400e+07,NaN,-1.488080e+08,9.938100e+07,198547000
17862,TBIO,941303,USD,2018,Q4,2018-12-31,2019-03-21,45466968.0,45466968.0,1.441030e+08,...,2.572000e+06,1.428700e+07,1.036420e+08,1.480690e+08,1.623560e+08,3.713020e+08,NaN,-2.462030e+08,1.252950e+08,287651000

## Shares Basic is None or <= 0

In [13]:
test_name = "SHARES_BASIC is None or <= 0"
test_func_rows = lambda df: (df[SHARES_BASIC] is None or
                             df[SHARES_BASIC] <= 0)
test_datasets(datasets=datasets_all,
              test_name=test_name, test_func_rows=test_func_rows)

SHARES_BASIC is None or <= 0
dataset='income', variant='annual'
dataset='income', variant='annual-full'
dataset='income', variant='quarterly'
dataset='income', variant='quarterly-full'
dataset='income', variant='ttm'
dataset='income', variant='ttm-full'
dataset='balance', variant='annual'
dataset='balance', variant='annual-full'
dataset='balance', variant='quarterly'
dataset='balance', variant='quarterly-full'
dataset='balance', variant='ttm'
dataset='balance', variant='ttm-full'
dataset='cashflow', variant='annual'
dataset='cashflow', variant='annual-full'
dataset='cashflow', variant='quarterly'
dataset='cashflow', variant='quarterly-full'
dataset='cashflow', variant='ttm'
dataset='cashflow', variant='ttm-full'
dataset='shareprices', variant='latest'
dataset='shareprices', variant='daily'
dataset='companies', variant='None'
dataset='industries', variant='None'

Exception: SHARES_BASIC is None or <= 0

In [14]:
# Show the problematic rows for a dataset.
df = data.get(dataset='income', variant='annual')
get_problem_rows(df=df, test_func_rows=test_func_rows)

,Ticker,SimFinId,Currency,Fiscal Year,Fiscal Period,Report Date,Publish Date,Shares (Basic),Shares (Diluted),Revenue,...,Non-Operating Income (Loss),"Interest Expense, Net","Pretax Income (Loss), Adjusted",Abnormal Gains (Losses),Pretax Income (Loss),"Income Tax (Expense) Benefit, Net",Income (Loss) From Continuing Operations,Net Extraordinary Gains (Losses),Net Income,Net Income Available to Common Shareholders
1234,AAL,68568,USD,2009,FY,2009-12-31,2010-07-21,0.0,0.0,1.991700e+10,...,-7.480000e+08,-7.100000e+08,-1.752000e+09,NaN,-1752000000,284000000.0,-1468000000,NaN,-1468000000,-1468000000
1235,AAL,68568,USD,2010,FY,2010-12-31,2011-02-16,0.0,0.0,2.217000e+10,...,-8.140000e+08,-7.970000e+08,-5.060000e+08,0.000000e+00,-506000000,35000000.0,-471000000,NaN,-471000000,-471000000
8340,SPB,357600,USD,2010,FY,2010-09-30,2011-08-11,0.0,0.0,2.567011e+09,...,-2.893150e+08,-2.770150e+08,-8.208500e+07,-4.209800e+07,-124183000,-63189000.0,-187372000,-2735000.0,-190107000,-190107000
8341,SPB,357600,USD,2011,FY,2011-09-30,2011-08-11,0.0,0.0,3.154466e+09,...,-2.108200e+08,-2.083290e+08,5.372700e+07,-3.660300e+07,17124000,-92295000.0,-75171000,NaN,-75171000,-75171000
8342,SPB,357600,USD,2012,FY,2012-09-30,2012-08-07,0.0,0.0,3.252435e+09,...,-1.927890e+08,-1.919110e+08,1.400230e+08,-3.106600e+07,108957000,-60385000.0,48572000,NaN,48572000,48572000
8343,SPB,357600,USD,2013,FY,2013-09-30,2013-08-08,0.0,0.0,4.085600e+09,...,-3.791000e+08,-3.756000e+08,2.050000e+07,-4.840000e+07,-27900000,-27400000.0,-55300000,NaN,-55200000,-55200000
8344,SPB,357600,USD,2014,FY,2014-09-30,2014-08-06,0.0,0.0,4.429100e+09,...,-2.084000e+08,-2.021000e+08,3.128000e+08,-3.930000e+07,273500000,-59000000.0,214500000,NaN,214100000,214100000
8345,SPB,357600,USD,2015,FY,2015-09-30,2015-08-06,0.0,0.0,4.690400e+09,...,-2.808000e+08,-2.719000e+08,2.787000e+08,-8.540000e+07,193300000,-43900000.0,149400000,NaN,148900000,148900000
8346,SPB,357600,USD,2016,FY,2016-09-30,2016-08-03,0.0,0.0,5.039700e+09,...,-2.586000e+08,-2.500000e+08,4.537000e+08,-5.610000e+07,397600000,-40000000.0,357600000,NaN,357100000,357100000
8347,SPB,357600,USD,2017,FY,2017-09-30,2017-11-17,0.0,0.0,5.007400e+09,...,-2.168000e+08,-2.111000e+08,4.260000e+08,-8.140000e+07,344600000,-47500000.0,297100000,NaN,295800000,295800000
8965,CHTR,378110,USD,2010,FY,2010-12-31,2011-05-03,0.0,0.0,7.059000e+09,...,-8.810000e+08,-8.770000e+08,1.430000e+08,-8.500000e+07,58000000,-295000000.0,-237000000,NaN,-237000000,-237000000
8966,CHTR,378110,USD,2011,FY,2011-12-31,2012-02-27,0.0,0.0,7.204000e+09,...,-9.680000e+08,-9.630000e+08,7.300000e+07,-1.430000e+08,-70000000,-299000000.0,-369000000,NaN,-369000000,-369000000
8967,CHTR,378110,USD,2012,FY,2012-12-31,2013-02-22,0.0,0.0,7.504000e+09,...,-9.070000e+08,-9.070000e+08,8.000000e+06,-5.500000e+07,-47000000,-257000000.0,-304000000,NaN,-304000000,-304000000
8968,CHTR,378110,USD,2013,FY,2013-12-31,2014-02-21,0.0,0.0,8.155000e+09,...,-8.460000e+08,-8.460000e+08,6.300000e+07,-1.120000e+08,-49000000,-120000000.0,-169000000,NaN,-169000000,-169000000
8969,CHTR,378110,USD,2014,FY,2014-12-31,2015-02-24,0.0,0.0,9.108000e+09,...,-9.110000e+08,-9.110000e+08,6.000000e+07,-7.000000e+06,53000000,-236000000.0,-183000000,NaN,-183000000,-183000000
8970,CHTR,378110,USD,2015,FY,2015-12-31,2016-02-10,0.0,0.0,9.754000e+09,...,-1.313000e+09,-1.306000e+09,-1.990000e+08,-1.320000e+08,-331000000,60000000.0,-271000000,NaN,-271000000,-271000000
12032,SSNT,511627,USD,2010,FY,2010-12-31,2011-08-04,0.0,0.0,7.486703e+06,...,-1.144690e+05,-1.144690e+05,-1.051586e+06,4.830810e+05,-568505,0.0,-568505,NaN,-468921,-468921
14405,MMEG,659865,USD,2013,FY,2013-12-31,2014-11-14,0.0,0.0,7.915000e+03,...,0.000000e+00,0.000000e+00,-1.890690e+05,-1.713200e+04,-206201,0.0,-206201,NaN,-206201,-206201
14406,MMEG,659865,USD,2014,FY,2014-12-31,2015-03-31,0.0,0.0,6.760000e+02,...,-7.354000e+03,-7.354000e+03,-2.898090e+05,-5.031100e+04,-340120,NaN,-340120,NaN,-340120,-340120
14407,MMEG,659865,USD,2015,FY,2015-12-31,2016-04-11,0.0,0.0,5.660000e+02,...,-1.121100e+04,-1.121100e+04,-5.721180e+05,-4.548690e+05,-1026987,NaN,-1026987,NaN,-1026987,-1026987
14408,MMEG,659865,USD,2016,FY,2016-12-31,2017-04-13,0.0,0.0,2.501000e+03,...,-8.417990e+05,-8.417990e+05,-1.630849e+06,-1.843930e+05,-1815242,NaN,-1815242,NaN,-1815242,-1815242
14419,CYCA,660121,USD,2010,FY,2010-09-30,2011-09-28,0.0,0.0,NaN,...,NaN,NaN,-4.581060e+05,5.701800e+04,-401088,NaN,-401088,NaN,-401088,-401088
14420,CYCA,660121,USD,2011,FY,2011-09-30,2012-08-29,0.0,0.0,2.250000e+03,...,1.071000e+03,1.071000e+03,-1.847681e+06,-2.635400e+05,-2111221,NaN,-2111221,NaN,-2111221,-2111221
14510,MFST,662704,USD,2011,FY,2011-12-31,2012-09-05,0.0,0.0,4.425900e+04,...,-5.900000e+01,-5.900000e+01,-1.730600e+04,-1.948200e+04,-36788,0.0,-36788,NaN,-36788,-36788
14511,MFST,662704,USD,2012,FY,2012-12-31,2013-04-01,0.0,0.0,0.000000e+00,...,-1.656000e+03,-1.656000e+03,-6.994200e+04,-1.042570e+05,-174199,0.0,-174199,NaN,-174199,-174199
14512,MFST,662704,USD,2013,FY,2013-12-31,2014-04-15,0.0,0.0,5.449700e+04,...,-1.488000e+03,-1.488000e+03,-1.349900e+04,-1.013130e+05,-114812,0.0,-114812,NaN,-114812,-114812
14513,MFST,662704,USD,2014,FY,2014-12-31,2015-04-15,0.0,0.0,8.562700e+04,...,-1.754700e+04,-1.654000e+03,-4.179800e+04,-2.534310e+05,-295229,NaN,-295229,NaN,-295229,-295229
14514,MFST,662704,USD,2015,FY,2015-12-31,2016-04-14,0.0,0.0,1.858000e+03,...,-1.117030e+05,-9.251500e+04,-1.878090e+05,-1.563150e+05,-344124,0.0,-344124,NaN,-344124,-344124
14515,MFST,662704,USD,2016,FY,2016-12-31,2017-04-06,0.0,0.0,0.000000e+00,...,-6.837690e+05,-6.418110e+05,-8.894890e+05,-2.481950e+05,-1137684,0.0,-1137684,NaN,-1137684,-1137684
14516,MFST,662704,USD,2017,FY,2017-12-31,2018-04-12,0.0,0.0,2.999500e+04,...,-5.011560e+05,-4.051440e+05,-7.936690e+05,-7.641670e+05,-1557836,0.0,-1557836,NaN,-1557836,-1557836
14546,FONU,663685,USD,2010,FY,2010-09-30,2011-09-14,0.0,NaN,2.305990e+05,...,-7.110500e+04,-7.110500e+04,-4.315360e+05,-3.604310e+05,-791967,NaN,-791967,NaN,-791967,-791967
14547,FONU,663685,USD,2011,FY,2011-09-30,2012-01-12,0.0,NaN,1.936600e+05,...,-5.879500e+04,-5.879500e+04,-4.561700e+05,-3.973750e+05,-853545,NaN,-853545,NaN,-853545,-853545
14548,FONU,663685,USD,2012,FY,2012-09-30,2013-01-17,0.0,NaN,8.145500e+04,...,-2.065200e+04,-2.065200e+04,-5.058230e+05,-6.928364e+07,-69789460,NaN,-69789460,NaN,-69789460,-69789460
14549,FONU,663685,USD,2013,FY,2013-09-30,2014-01-06,0.0,NaN,2.820090e+05,...,-1.918530e+05,-1.918530e+05,-6.878200e+05,-1.392395e+06,-2080215,NaN,-2080215,NaN,-2080215,-2080215
15441,HMNY,698616,USD,2011,FY,2011-12-31,2012-03-13,0.0,0.0,1.220399e+07,...,3.669000e+03,3.669000e+03,2.151460e+05,NaN,215146,12243.0,227389,NaN,227389,227389
15442,HMNY,698616,USD,2012,FY,2012-12-31,2013-03-04,0.0,0.0,1.236892e+07,...,9.425000e+03,9.425000e+03,5.153960e+05,8.254800e+04,597944,11155.0,609099,NaN,609099,609099
15443,HMNY,698616,USD,2013,FY,2013-12-31,2014-03-03,0.0,0.0,1.329110e+07,...,6.437000e+03,6.437000e+03,3.815650e+05,NaN,381565,-1446.0,380119,NaN,380119,380119
15444,HMNY,698616,USD,2014,FY,2014-12-31,2015-03-27,0.0,0.0,1.064168e+07,...,1.354800e+04,1.354800e+04,-1.691710e+05,0.000000e+00,-169171,8541.0,-160630,NaN,-160630,-160630
15445,HMNY,698616,USD,2015,FY,2015-12-31,2016-03-28,0.0,0.0,9.736541e+06,...,8.591000e+03,8.591000e+03,3.051690e+05,-1.655959e+06,-1350790,71245.0,-1279545,NaN,-1279545,-1279545
15446,HMNY,698616,USD,2016,FY,2016-12-31,2017-04-14,0.0,0.0,6.759700e+06,...,-5.192152e+06,-5.192152e+06,-7.288487e+06,-1.072490e+05,-7395736,14665.0,-7381071,NaN,-7381071,-7381071
15447,HMNY,698616,USD,2017,FY,2017-12-31,2018-04-17,0.0,0.0,4.512300e+06,...,-9.830132e+07,-9.830132e+07,-1.539904e+08,5.983577e+06,-148006807,-53532.0,-148060339,NaN,-152910647,-152910647
15484,UPL,700786,USD,2008,FY,2008-12-31,2009-08-04,0.0,0.0,1.084400e+09,...,-2.044300e+07,-2.127600e+07,6.215630e+08,3.321600e+07,654779000,-240504000.0,414275000,NaN,414275000,414275000
15485,UPL,700786,USD,2009,FY,2009-12-31,2010-11-04,0.0,0.0,6.667620e+08,...,-4.005500e+07,-3.716700e+07,1.942940e+08,-8.904830e+08,-696189000,245136000.0,-451053000,NaN,-451053000,-451053000
15486,UPL,700786,USD,2010,FY,2010-12-31,2011-02-24,0.0,0.0,9.793860e+08,...,-4.877200e+07,-4.903200e+07,4.075240e+08,3.155500e+08,723074000,-258615000.0,464459000,NaN,464459000,464459000
15487,UPL,700786,USD,2011,FY,2011-12-31,2012-02-17,0.0,0.0,1.101796e+09,...,-6.262400e+07,-6.315600e+07,3.971400e+08,3.137320e+08,710872000,-257670000.0,453202000,NaN,453202000,453202000
15488,UPL,700786,USD,2012,FY,2012-12-31,2013-02-20,0.0,0.0,8.099740e+08,...,-8.994500e+07,-8.818000e+07,3.724100e+07,-2.914352e+09,-2877111000,700213000.0,-2176898000,NaN,-2176898000,-2176898000
15489,UPL,700786,USD,2013,FY,2013-12-31,2014-02-25,0.0,0.0,9.334040e+08,...,-1.018430e+08,-1.014860e+08,2.704230e+08,-3.620100e+07,234222000,3616000.0,237838000,NaN,237838000,237838000
15490,UPL,700786,USD,2014,FY,2014-12-31,2015-02-24,0.0,0.0,1.230020e+09,...,-1.235390e+08,-1.261570e+08,4.360500e+08,1.009770e+08,537027000,5824000.0,542851000,NaN,542851000,542851000
15727,CNXS,706380,USD,2013,FY,2013-06-30,2014-06-02,0.0,0.0,0.000000e+00,...,-3.175320e+05,-3.175320e+05,-6.878150e+05,-1.711950e+05,-859010,0.0,-859010,NaN,-859010,-859010

## Shares Diluted is None or <= 0

In [15]:
test_name = "SHARES_DILUTED is None or <= 0"
test_func_rows = lambda df: (df[SHARES_DILUTED] is None or
                             df[SHARES_DILUTED] <= 0)
test_datasets(datasets=datasets_fundamental,
              test_name=test_name, test_func_rows=test_func_rows)

SHARES_DILUTED is None or <= 0
dataset='income', variant='annual'
dataset='income', variant='annual-full'
dataset='income', variant='quarterly'
dataset='income', variant='quarterly-full'
dataset='income', variant='ttm'
dataset='income', variant='ttm-full'
dataset='balance', variant='annual'
dataset='balance', variant='annual-full'
dataset='balance', variant='quarterly'
dataset='balance', variant='quarterly-full'
dataset='balance', variant='ttm'
dataset='balance', variant='ttm-full'
dataset='cashflow', variant='annual'
dataset='cashflow', variant='annual-full'
dataset='cashflow', variant='quarterly'
dataset='cashflow', variant='quarterly-full'
dataset='cashflow', variant='ttm'
dataset='cashflow', variant='ttm-full'

Exception: SHARES_DILUTED is None or <= 0

In [16]:
# Show the problematic rows for a dataset.
df = data.get(dataset='income', variant='quarterly')
get_problem_rows(df=df, test_func_rows=test_func_rows)

,Ticker,SimFinId,Currency,Fiscal Year,Fiscal Period,Report Date,Publish Date,Shares (Basic),Shares (Diluted),Revenue,...,Non-Operating Income (Loss),"Interest Expense, Net","Pretax Income (Loss), Adjusted",Abnormal Gains (Losses),Pretax Income (Loss),"Income Tax (Expense) Benefit, Net",Income (Loss) From Continuing Operations,Net Extraordinary Gains (Losses),Net Income,Net Income Available to Common Shareholders
613,ENS,35886,USD,2010,Q4,2011-03-31,2011-02-09,-1.248976e+09,-1.266011e+09,4.505370e+08,...,-6217000.0,-5991000.0,30983000.0,-6163000.0,24820000,-6991000.0,17829000,NaN,17829000,17829000
614,ENS,35886,USD,2011,Q4,2012-03-31,2011-05-31,-3.893758e+08,-3.943303e+08,5.480540e+08,...,-5907000.0,-4361000.0,49197000.0,-9741000.0,39456000,-9365000.0,30091000,NaN,30091000,30091000
851,JOY,39382,USD,2009,Q4,2009-10-31,2010-06-08,-3.068902e+08,-3.085706e+08,9.635280e+08,...,-5322000.0,-5322000.0,178780000.0,5585000.0,184365000,-60340000.0,124025000,NaN,124025000,124025000
1037,AXON,41996,USD,2018,Q4,2019-03-31,2019-06-11,-2.930225e+08,-2.930225e+08,NaN,...,-1447000.0,-1722000.0,-14753000.0,NaN,-9137000,91000.0,-9046000,NaN,-9046000,-9046000
1410,A,45846,USD,2013,Q4,2013-10-31,2013-12-19,-7.940000e+07,-8.160000e+07,-1.170000e+09,...,-32000000.0,-28000000.0,-312000000.0,NaN,-312000000,24000000.0,-288000000,NaN,221000000,221000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71130,BTU,918412,USD,2013,Q4,2013-12-31,2014-02-21,-7.298000e+08,-7.309000e+08,1.742800e+09,...,-85300000.0,-80700000.0,-70500000.0,-72500000.0,-143000000,248700000.0,105700000,-160100000.0,-58900000,-58900000
71131,BTU,918412,USD,2014,Q4,2014-12-31,2015-02-25,1.720000e+07,-4.822000e+08,1.684500e+09,...,-165100000.0,-101500000.0,-109100000.0,-45000000.0,-154100000,-116500000.0,-270600000,-10400000.0,-282600000,-282600000
71501,TRNX,920932,USD,2011,Q4,2011-12-31,2012-05-14,-7.438220e+05,-7.438220e+05,6.904200e+07,...,383000.0,430000.0,-367000.0,-704000.0,-1071000,692000.0,-379000,NaN,-379000,-379000
71502,TRNX,920932,USD,2012,Q4,2012-12-31,2012-11-09,-1.184547e+06,-1.184547e+06,7.903300e+07,...,1929000.0,2269000.0,-2205000.0,-9238000.0,-11443000,-12240000.0,-23683000,NaN,-23683000,-23683000
71676,HCSG,923327,USD,2010,Q4,2010-12-31,2011-04-25,-1.615000e+05,-4.250000e+04,2.020870e+08,...,1073000.0,1073000.0,14437000.0,NaN,14437000,-5314000.0,9123000,NaN,9123000,9123000

## Revenue is negative

In [17]:
test_name = "REVENUE < 0"
test_func_rows = lambda df: (df[REVENUE] < 0)
test_datasets(datasets=datasets_income,
              test_name=test_name, test_func_rows=test_func_rows)

REVENUE < 0
dataset='income', variant='annual'
dataset='income', variant='annual-full'
dataset='income', variant='quarterly'
dataset='income', variant='quarterly-full'
dataset='income', variant='ttm'
dataset='income', variant='ttm-full'
dataset='income-banks', variant='annual'
dataset='income-banks', variant='annual-full'
dataset='income-banks', variant='quarterly'
dataset='income-banks', variant='ttm'
dataset='income-banks', variant='ttm-full'
dataset='income-insurance', variant='annual'
dataset='income-insurance', variant='annual-full'
dataset='income-insurance', variant='quarterly'
dataset='income-insurance', variant='ttm'
dataset='income-insurance', variant='ttm-full'

Exception: REVENUE < 0

In [18]:
# Show the problematic rows for a dataset.
df = data.get(dataset='income', variant='quarterly')
get_problem_rows(df=df, test_func_rows=test_func_rows)

,Ticker,SimFinId,Currency,Fiscal Year,Fiscal Period,Report Date,Publish Date,Shares (Basic),Shares (Diluted),Revenue,...,Non-Operating Income (Loss),"Interest Expense, Net","Pretax Income (Loss), Adjusted",Abnormal Gains (Losses),Pretax Income (Loss),"Income Tax (Expense) Benefit, Net",Income (Loss) From Continuing Operations,Net Extraordinary Gains (Losses),Net Income,Net Income Available to Common Shareholders
59,FOX,242,USD,2011,Q4,2011-06-30,2011-08-15,2.626000e+09,2.647000e+09,-2.110000e+08,...,-175000000.0,-266000000.0,278000000.0,-3000000.0,275000000,-16000000.0,259000000,NaN,683000000,683000000
60,FOX,242,USD,2012,Q4,2012-06-30,2012-08-14,2.413000e+09,2.414000e+09,-2.850000e+08,...,-101000000.0,-273000000.0,663000000.0,-47000000.0,616000000,-163000000.0,453000000,NaN,-1553000000,-1553000000
275,PPL,26853,USD,2013,Q4,2013-12-31,2014-02-24,5.061656e+08,5.272955e+08,-1.718000e+09,...,-98000000.0,-25000000.0,166000000.0,NaN,166000000,-19000000.0,147000000,NaN,-98000000,-98000000
1410,A,45846,USD,2013,Q4,2013-10-31,2013-12-19,-7.940000e+07,-8.160000e+07,-1.170000e+09,...,-32000000.0,-28000000.0,-312000000.0,NaN,-312000000,24000000.0,-288000000,NaN,221000000,221000000
1537,HPE,47023,USD,2015,Q4,2015-10-31,2016-09-08,-2.069368e+09,3.146594e+09,-7.582000e+09,...,33000000.0,35000000.0,401000000.0,174000000.0,575000000,989000000.0,1564000000,NaN,1385000000,1385000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72315,AI,939571,USD,2018,Q4,2018-12-31,2019-02-19,3.041900e+07,3.041900e+07,-3.691800e+07,...,-37156000.0,-37174000.0,-77390000.0,137802000.0,60412000,-33639000.0,26773000,NaN,26773000,26926000
72316,AI,939571,USD,2010,Q1,2010-03-31,2011-07-29,7.733000e+06,7.846000e+06,-8.974000e+06,...,-9202000.0,-9202000.0,-22571000.0,-539000.0,-23110000,112000.0,-22998000,NaN,-22998000,-22998000
72317,AI,939571,USD,2010,Q4,2010-12-31,2012-02-23,7.632000e+06,7.780000e+06,-9.839000e+06,...,-10166000.0,-10166000.0,-65335000.0,-2863000.0,-68198000,705000.0,-67493000,NaN,-67493000,-67493000
72318,AI,939571,USD,2011,Q4,2011-12-31,2012-04-20,7.748000e+06,7.799000e+06,-1.290000e+07,...,-13727000.0,-13727000.0,-64758000.0,529000.0,-64229000,419000.0,-63810000,NaN,-63810000,-63810000
72319,AI,939571,USD,2012,Q4,2012-12-31,2013-02-08,1.325200e+07,1.332100e+07,-1.745800e+07,...,-19241000.0,-19241000.0,-59335000.0,-4599000.0,-63934000,-154208000.0,-218142000,NaN,-218142000,-218142000

## Assets != Liabilities + Equity (Exact Comparison)

In [19]:
test_name = "Assets != Liabilities + Equity (Exact Comparison)"
test_func_rows = lambda df: (df[TOTAL_ASSETS] != df[TOTAL_LIABILITIES] + df[TOTAL_EQUITY])
test_datasets(datasets=datasets_balance,
              test_name=test_name, test_func_rows=test_func_rows)

Assets != Liabilities + Equity (Exact Comparison)
dataset='balance', variant='annual'
dataset='balance', variant='annual-full'
dataset='balance', variant='quarterly'
dataset='balance', variant='quarterly-full'
dataset='balance', variant='ttm'
dataset='balance', variant='ttm-full'
dataset='balance-banks', variant='annual'
dataset='balance-banks', variant='annual-full'
dataset='balance-banks', variant='quarterly'
dataset='balance-banks', variant='quarterly-full'
dataset='balance-banks', variant='ttm'
dataset='balance-banks', variant='ttm-full'
dataset='balance-insurance', variant='annual'
dataset='balance-insurance', variant='annual-full'
dataset='balance-insurance', variant='quarterly'
dataset='balance-insurance', variant='quarterly-full'
dataset='balance-insurance', variant='ttm'
dataset='balance-insurance', variant='ttm-full'

Exception: Assets != Liabilities + Equity (Exact Comparison)

In [20]:
# Get the problematic rows for a dataset.
df = data.get(dataset='balance', variant='quarterly')
df2 = get_problem_rows(df=df, test_func_rows=test_func_rows)

# Only show the relevant columns.
df2[[TICKER, SIMFIN_ID, REPORT_DATE, TOTAL_ASSETS, TOTAL_LIABILITIES, TOTAL_EQUITY]]

,Ticker,SimFinId,Report Date,Total Assets,Total Liabilities,Total Equity
120,BLK,914,2011-02-28,1.784590e+11,1.521250e+11,2.633300e+10
123,BLK,914,2010-02-28,1.781240e+11,1.535220e+11,2.460100e+10
134,BLK,914,2019-08-31,1.607500e+11,1.306870e+11,3.266000e+10
135,BLK,914,2019-05-31,1.628120e+11,1.326340e+11,3.237100e+10
136,BLK,914,2019-02-28,1.558310e+11,1.260330e+11,3.354000e+10
...,...,...,...,...,...,...
65089,TBIO,941303,2019-03-31,1.288570e+08,1.826280e+08,9.510800e+07
65090,TBIO,941303,2018-12-31,1.496020e+08,1.623560e+08,1.252950e+08
65091,TBIO,941303,2018-09-30,1.663190e+08,1.751710e+08,1.294170e+08
65092,TBIO,941303,2018-06-30,2.428700e+07,1.112060e+08,5.512600e+07
65093,TBIO,941303,2017-12-31,6.303500e+07,9.916600e+07,9.938100e+07

## Assets != Liabilities + Equity (1% Tolerance)

The above test used exact comparison. We now allow for 1% error.

In [21]:
def test_func_rows(df):
    x = df[TOTAL_ASSETS]
    y = df[TOTAL_LIABILITIES] + df[TOTAL_EQUITY]
    
    # Compare x and y within 1% tolerance. Note the resulting
    # boolean array is negated because we want to indicate
    # which rows are problematic so x and y are not close.
    return ~isclose(x=x, y=y, tolerance=0.01)

In [22]:
test_name = "Assets != Liabilities + Equity (1% Tolerance)"
test_datasets(datasets=datasets_balance,
              test_name=test_name, test_func_rows=test_func_rows)

Assets != Liabilities + Equity (1% Tolerance)
dataset='balance', variant='annual'
dataset='balance', variant='annual-full'
dataset='balance', variant='quarterly'
dataset='balance', variant='quarterly-full'
dataset='balance', variant='ttm'
dataset='balance', variant='ttm-full'
dataset='balance-banks', variant='annual'
dataset='balance-banks', variant='annual-full'
dataset='balance-banks', variant='quarterly'
dataset='balance-banks', variant='quarterly-full'
dataset='balance-banks', variant='ttm'
dataset='balance-banks', variant='ttm-full'
dataset='balance-insurance', variant='annual'
dataset='balance-insurance', variant='annual-full'
dataset='balance-insurance', variant='quarterly'
dataset='balance-insurance', variant='quarterly-full'
dataset='balance-insurance', variant='ttm'
dataset='balance-insurance', variant='ttm-full'

Exception: Assets != Liabilities + Equity (1% Tolerance)

In [23]:
# Get the problematic rows for a dataset.
df = data.get(dataset='balance', variant='quarterly')
df2 = get_problem_rows(df=df, test_func_rows=test_func_rows)

# Only show the relevant columns.
df2[[TICKER, SIMFIN_ID, REPORT_DATE, TOTAL_ASSETS, TOTAL_LIABILITIES, TOTAL_EQUITY]]

,Ticker,SimFinId,Report Date,Total Assets,Total Liabilities,Total Equity
134,BLK,914,2019-08-31,1.607500e+11,1.306870e+11,3.266000e+10
135,BLK,914,2019-05-31,1.628120e+11,1.326340e+11,3.237100e+10
136,BLK,914,2019-02-28,1.558310e+11,1.260330e+11,3.354000e+10
2614,TPB,58275,2019-03-31,3.690460e+08,2.371970e+08,8.884100e+07
2615,TPB,58275,2018-12-31,3.473770e+08,2.487540e+08,8.262300e+07
...,...,...,...,...,...,...
65089,TBIO,941303,2019-03-31,1.288570e+08,1.826280e+08,9.510800e+07
65090,TBIO,941303,2018-12-31,1.496020e+08,1.623560e+08,1.252950e+08
65091,TBIO,941303,2018-09-30,1.663190e+08,1.751710e+08,1.294170e+08
65092,TBIO,941303,2018-06-30,2.428700e+07,1.112060e+08,5.512600e+07
65093,TBIO,941303,2017-12-31,6.303500e+07,9.916600e+07,9.938100e+07

## Dates are invalid (Fundamentals)

In [24]:
# Lambda function for converting strings to dates. Format: YYYY-MM-DD
# This will raise an exception if invalid dates are encountered.
date_parser = lambda column: pd.to_datetime(column, yearfirst=True, dayfirst=False)

In [25]:
# Test function for the entire DataFrame.
# This cannot show which individual rows have problems.
def test_func(df):
    result1 = date_parser(df[REPORT_DATE])
    result2 = date_parser(df[PUBLISH_DATE])
    
    # We only get to this point if date_parser() does not
    # raise any exceptions, in which case we assume the
    # data did not have any problems.
    return False

In [26]:
test_name = "REPORT_DATE or PUBLISH_DATE is invalid"
test_datasets(datasets=datasets_fundamental,
              test_name=test_name, test_func=test_func)

## Dates are invalid (Share-Prices)

In [27]:
# Test function for the entire DataFrame.
# This cannot show which individual rows have problems.
def test_func(df):
    result1 = date_parser(df[DATE])
    
    # We only get to this point if date_parser() does not
    # raise any exceptions, in which case we assume the
    # data did not have any problems.
    return False

In [28]:
test_name = "DATE is invalid"
test_datasets(datasets=datasets_shareprices,
              test_name=test_name, test_func=test_func)

## Duplicate Tickers

In [29]:
def get_duplicate_tickers(df):
    """
    Return the rows of `df` where multiple SIMFIN_ID
    have the same TICKER.
    
    :param df: Pandas DataFrame with TICKER column.
    :return: Pandas DataFrame.
    """

    # Remove duplicate rows of [TICKER, SIMFIN_ID] pairs.
    # For the 'companies' dataset this is not necessary,
    # but for e.g. the 'income' dataset we have many rows
    # for each [TICKER, SIMFIN_ID] pair because there are
    # many financial reports for each of these ID pairs.
    idx = df[[TICKER, SIMFIN_ID]].duplicated()
    df2 = df[~idx]

    # Now the DataFrame df2 only contains unique rows of
    # [TICKER, SIMFIN_ID] so we need to check if there are
    # any duplicate TICKER.

    # Index for rows where TICKER is a duplicate.
    idx1 = df2[TICKER].duplicated()

    # Index for rows where TICKER is not NaN.
    # These would otherwise show up as duplicates.
    idx2 = df2[TICKER].notna()

    # Index for rows where TICKER is a duplicate but not NaN.
    idx = idx1 & idx2

    # Get those rows from the DataFrame.
    df2 = df2[idx]

    return df2

In [30]:
# Test-function whether a DataFrame has duplicate tickers.
test_func = lambda df: (len(get_duplicate_tickers(df=df)) > 0)

In [31]:
# Test whether these datasets have duplicate tickers.
# It might only be necessary for 'companies' but we
# might as well test all datasets that use tickers.
_datasets = ['companies'] + datasets_fundamental + datasets_shareprices

In [32]:
test_name = "Duplicate Tickers"
test_datasets(datasets=_datasets,
              test_name=test_name, test_func=test_func)

Duplicate Tickers
dataset='companies', variant='None'
dataset='income', variant='annual'
dataset='income', variant='annual-full'
dataset='income', variant='quarterly'
dataset='income', variant='quarterly-full'
dataset='income', variant='ttm'
dataset='income', variant='ttm-full'
dataset='balance', variant='annual'
dataset='balance', variant='annual-full'
dataset='balance', variant='quarterly'
dataset='balance', variant='quarterly-full'
dataset='balance', variant='ttm'
dataset='balance', variant='ttm-full'
dataset='cashflow', variant='annual'
dataset='cashflow', variant='annual-full'
dataset='cashflow', variant='quarterly'
dataset='cashflow', variant='quarterly-full'
dataset='cashflow', variant='ttm'
dataset='cashflow', variant='ttm-full'
dataset='shareprices', variant='latest'
dataset='shareprices', variant='daily'

Exception: Duplicate Tickers

In [33]:
# Show duplicate tickers in the 'companies' dataset.
df = data.get(dataset='companies')
get_duplicate_tickers(df=df)

     Ticker  SimFinId                    Company Name  IndustryId
109    GOOG     61595                     Google Inc.    101002.0
1097    MDT    378189                   Medtronic INC    106004.0
1099    MYL    378191                      Mylan N.V.    106005.0
1202    AGN    442340                   Allergan Inc.    106005.0
1206    GGP    442374  General Growth Properties, Inc    109001.0
1247     ES    446632             Energysolutions Inc    105001.0
1268     FE    447804          Metropolitan Edison Co    105001.0
1287    SHO    448662    Sunstone Hotel Investors Inc    109001.0
1298    WFT    449193   Weatherford International LTD    107004.0
1399   ENDP    530918          Endo International plc    106005.0
1532    FTI    637893                  TechnipFMC plc    107004.0
1549   ISBC    641029         Investors Bancorp, Inc.    104002.0
1790   AVGO    686523                   Broadcom Inc.    101004.0
1791   ALTR    686620         Altair Engineering Inc.    101003.0
1812   ARMK    692435          Aramark Services, Inc.    103003.0
1814    EXC    692600  DELMARVA POWER & LIGHT CO /DE/    105001.0
1887    DUK    709706      DUKE ENERGY PROGRESS, LLC.    105001.0
2405   FANG    896740        Diamondback Energy, Inc.    107002.0
2428    LSI    901127              LIFE STORAGE, INC.    109001.0
2437   LDOS    902720           Leidos Holdings, Inc.    101003.0

In [34]:
# Show duplicate tickers in the 'income-annual' dataset.
df = data.get(dataset='income', variant='annual')
get_duplicate_tickers(df=df)

,Ticker,SimFinId,Currency,Fiscal Year,Fiscal Period,Report Date,Publish Date,Shares (Basic),Shares (Diluted),Revenue,...,Non-Operating Income (Loss),"Interest Expense, Net","Pretax Income (Loss), Adjusted",Abnormal Gains (Losses),Pretax Income (Loss),"Income Tax (Expense) Benefit, Net",Income (Loss) From Continuing Operations,Net Extraordinary Gains (Losses),Net Income,Net Income Available to Common Shareholders
901,GOOG,61595,USD,2007,FY,2007-12-31,2009-08-04,NaN,NaN,1.659399e+10,...,5.895800e+08,NaN,5.673980e+09,0.000000e+00,5673980000,-1.470260e+09,4203720000,NaN,4203720000,4203720000
9692,MDT,378189,USD,2007,FY,2007-04-30,2009-09-09,1133.0,1143.0,1.351500e+10,...,-4.720000e+08,-3.600000e+07,3.615000e+09,-8.750000e+08,2740000000,-6.020000e+08,2138000000,NaN,2138000000,2138000000
9711,MYL,378191,USD,2008,FY,2008-12-31,2010-07-29,304360000.0,304360000.0,5.137585e+09,...,-3.694420e+08,-3.807790e+08,3.300770e+08,-4.016340e+08,-71557000,-1.285500e+08,-200107000,NaN,-196076000,-335111000
10665,AGN,442340,USD,2007,FY,2007-12-31,2009-08-10,NaN,NaN,3.938900e+09,...,-5.450000e+07,-2.930000e+07,6.648000e+08,-4.000000e+05,664400000,-1.774000e+08,487000000,-1700000.0,484800000,484800000
10701,GGP,442374,USD,2011,FY,2011-12-31,2012-02-29,943669000.0,981136000.0,2.396960e+09,...,-8.614940e+08,-8.614940e+08,-2.421920e+08,5.412600e+07,-188066000,8.723000e+06,-179343000,-112913000.0,-298624000,-298624000
11091,ES,446632,USD,2009,FY,2009-12-31,2010-08-05,176636048.0,176872770.0,1.623893e+09,...,-2.379100e+07,-3.040300e+07,6.655100e+07,NaN,66551000,-1.458800e+07,51963000,NaN,50832000,50832000
11240,FE,447804,USD,2007,FY,2007-12-31,2009-08-03,306000000.0,310000000.0,1.280200e+10,...,-6.550000e+08,-7.750000e+08,1.639000e+09,5.560000e+08,2195000000,-8.830000e+08,1312000000,NaN,1309000000,1309000000
11406,SHO,448662,USD,2009,FY,2009-12-31,2011-05-06,69820000.0,69820000.0,6.093120e+08,...,-7.448100e+07,-7.586900e+07,4.915900e+07,-9.285200e+07,-43693000,NaN,-43693000,-225915000.0,-269608000,-269608000
11508,WFT,449193,USD,2007,FY,2007-12-31,2009-09-01,677032000.0,695516000.0,7.832062e+09,...,-1.798500e+08,-1.712810e+08,1.444486e+09,0.000000e+00,1444486000,-3.327600e+08,1111726000,-21369000.0,1070606000,1070606000
12344,ENDP,530918,USD,2012,FY,2012-12-31,2014-05-09,115719000.0,115719000.0,2.815736e+09,...,-1.832730e+08,-1.828340e+08,4.133040e+08,-1.143727e+09,-730423000,3.641500e+07,-694008000,5987000.0,-740337000,-740337000
13442,FTI,637893,USD,2015,FY,2015-12-31,2017-01-13,114900000.0,127300000.0,1.147190e+10,...,-1.231000e+08,-7.120000e+07,5.886000e+08,-4.381000e+08,150500000,-1.365000e+08,14000000,NaN,14400000,14400000
15160,AVGO,686523,USD,2016,FY,2016-11-30,2018-06-14,366000000.0,383000000.0,1.324000e+10,...,-5.750000e+08,-5.850000e+08,1.885000e+09,-2.992000e+09,-1107000000,-6.420000e+08,-1749000000,-112000000.0,-1739000000,-1739000000
15163,ALTR,686620,USD,2015,FY,2015-12-31,2017-12-01,46609000.0,58709000.0,2.941290e+08,...,-3.198000e+06,-2.416000e+06,1.174900e+07,NaN,11749000,-8.180000e+05,10931000,NaN,10931000,10931000
15306,EXC,692600,USD,2009,FY,2009-12-31,2011-08-03,221000000.0,221000000.0,5.019000e+09,...,-3.590000e+08,-3.380000e+08,-4.513000e+09,-4.000000e+06,-4517000000,-1.200000e+07,-4529000000,-12000000.0,-4541000000,-4541000000
15815,DUK,709706,USD,2007,FY,2007-12-31,2009-11-06,84810000.0,NaN,9.153000e+09,...,-1.234000e+09,-1.227000e+09,3.120000e+08,-3.400000e+07,278000000,-3.340000e+08,-56000000,-206000000.0,-270000000,-270000000
18521,FANG,896740,USD,2010,FY,2010-12-31,2012-12-14,NaN,NaN,2.725300e+07,...,-8.700000e+05,-8.700000e+05,1.123300e+07,-2.774000e+06,8459000,0.000000e+00,8459000,NaN,8459000,8459000
18675,LSI,901127,USD,2008,FY,2008-12-31,2010-08-06,NaN,NaN,1.962860e+08,...,-3.767100e+07,-3.777500e+07,3.599400e+07,NaN,35994000,NaN,35994000,3689000.0,37399000,37399000
18733,LDOS,902720,USD,2014,FY,2015-01-31,2015-05-12,74000000.0,74000000.0,4.690000e+09,...,-6.500000e+07,-7.000000e+07,2.720000e+08,-5.280000e+08,-256000000,-6.700000e+07,-323000000,-11000000.0,-334000000,-334000000

## Missing Annual Reports

In [35]:
def missing_annual_reports(df):
    """
    Return a list of the SIMFIN_ID's from the given DataFrame
    that have missing annual reports.
    
    :param df:
        Pandas DataFrame with a dataset e.g. 'income-annual'.
        It must have columns SIMFIN_ID and FISCAL_YEAR.

    :return:
        List of integers with SIMFIN_ID's that have missing reports.
    """
    
    # The idea is to test for each SIMFIN_ID individually,
    # whether the DataFrame has all the expected reports for
    # consecutive Fiscal Years between the min/max years.
    
    # Helper-function for processing a DataFrame for one SIMFIN_ID.
    def _missing(df):
        # Get the Fiscal Years from the DataFrame.
        fiscal_years = df[FISCAL_YEAR]

        # How many years between min and max fiscal years.
        num_years = fiscal_years.max() - fiscal_years.min() + 1

        # We expect the Series to have the same length, otherwise
        # some reports must be missing between min and max years.
        missing = (num_years != len(fiscal_years))

        return missing
    
    # Process all companies individually and get a Pandas
    # DataFrame with a boolean for each SIMFIN_ID whether
    # it has some missing Fiscal Years.
    idx = df.groupby(SIMFIN_ID).apply(_missing)

    # List of the SIMFIN_ID's that have missing reports.
    simfin_ids = list(idx[idx].index.values)

    return simfin_ids

In [36]:
test_name = "Missing annual reports"
test_func = lambda df: len(missing_annual_reports(df=df)) > 0
test_datasets(datasets=datasets_fundamental,
              variants=['annual'],
              test_name=test_name, test_func=test_func)

Missing annual reports
dataset='income', variant='annual'
dataset='income-insurance', variant='annual'
dataset='balance', variant='annual'
dataset='cashflow', variant='annual'

Exception: Missing annual reports

In [ ]:
# Get list of SIMFIN_ID's that have missing reports for a dataset.
df = data.get(dataset='income', variant='annual')
missing_annual_reports(df=df)

In [38]:
def sort_annual_reports(df, simfin_id):
    """
    Get the data for a given SIMFIN_ID and set the index to be
    the sorted Fiscal Year so it is easier to see which are missing.
    """
    return df.set_index([SIMFIN_ID, FISCAL_YEAR]).sort_index().loc[simfin_id]

In [39]:
# Show all the reports for a given SIMFIN_ID sorted by
# Fiscal Year so it is easier to see which are missing.
sort_annual_reports(df=df, simfin_id=37910)

,Ticker,Currency,Fiscal Period,Report Date,Publish Date,Shares (Basic),Shares (Diluted),Revenue,Cost of Revenue,Gross Profit,...,Non-Operating Income (Loss),"Interest Expense, Net","Pretax Income (Loss), Adjusted",Abnormal Gains (Losses),Pretax Income (Loss),"Income Tax (Expense) Benefit, Net",Income (Loss) From Continuing Operations,Net Extraordinary Gains (Losses),Net Income,Net Income Available to Common Shareholders
Fiscal Year,,,,,,,,,,,,,,,,,,,,,
2012,CK00015847,USD,FY,2012-12-31,2015-03-26,NaN,NaN,2.365339e+09,-1.700756e+09,664583000.0,...,-58893000.0,-58893000.0,330289000.0,-351831000.0,-21542000,-1408000.0,-22950000,NaN,-22950000,-22950000
2014,CK00015847,USD,FY,2014-12-31,2015-03-26,NaN,NaN,2.508315e+09,-1.801798e+09,706517000.0,...,-83379000.0,-83379000.0,323574000.0,-345764000.0,-22190000,7523000.0,-14667000,NaN,-14667000,-14667000
2015,CK00015847,USD,FY,2015-12-31,2016-03-23,NaN,NaN,2.471949e+09,-1.743660e+09,728289000.0,...,-84053000.0,-84053000.0,326540000.0,-386805000.0,-60265000,-1978000.0,-62243000,NaN,-62243000,-62243000
2016,CK00015847,USD,FY,2016-12-31,2017-03-30,NaN,NaN,2.456767e+09,-1.730774e+09,725993000.0,...,-80889000.0,-80889000.0,324562000.0,-366913000.0,-42351000,-2212000.0,-44563000,NaN,-44563000,-44563000

## Missing Quarterly Reports

In [40]:
def missing_quarterly_reports(df):
    """
    Return a list of the SIMFIN_ID's from the given DataFrame
    that have missing quarterly or ttm reports.
    
    :param df:
        Pandas DataFrame with a dataset e.g. 'income-annual'.
        It must have columns SIMFIN_ID, FISCAL_YEAR, FISCAL_PERIOD.

    :return:
        List of integers with SIMFIN_ID's that have missing reports.
    """
    
    # The idea is to test for each SIMFIN_ID individually,
    # whether the DataFrame has all the expected reports for
    # consecutive Fiscal Years and Periods between the min/max.
    
    # Helper-function for processing a DataFrame for one SIMFIN_ID.
    def _missing(df):
        # Get the Fiscal Years and Periods from the DataFrame.
        fiscal_years_periods = df[[FISCAL_YEAR, FISCAL_PERIOD]]

        # The first Fiscal Year and Period.
        min_year = fiscal_years_periods[FISCAL_YEAR].min()
        min_idx = (fiscal_years_periods[FISCAL_YEAR] == min_year)
        min_period = fiscal_years_periods[min_idx][FISCAL_PERIOD].min()

        # The last Fiscal Year and Period.
        max_year = fiscal_years_periods[FISCAL_YEAR].max()
        max_idx = (fiscal_years_periods[FISCAL_YEAR] == max_year)
        max_period = fiscal_years_periods[max_idx][FISCAL_PERIOD].max()

        # How many years between min and max fiscal years.
        num_years = max_year - min_year + 1

        # Total number of Fiscal Periods between first and
        # last Fiscal Years - if all Fiscal Periods were included.
        num_periods = num_years * 4

        # Used to map from Fiscal Period strings to ints.
        # This is safer and easier to understand than
        # e.g. def map_period(x): int(x[1])
        map_period = \
        {
            'Q1': 1,
            'Q2': 2,
            'Q3': 3,
            'Q4': 4
        }

        # Number of Fiscal Periods missing in the first year.
        adj_min_period = map_period[min_period] - 1

        # Number of Fiscal Periods missing in the last year.
        adj_max_period = 4 - map_period[max_period]

        # Adjust the number of Fiscal Periods between the min/max
        # Fiscal Years and Periods by subtracting those periods
        # missing in the first and last years.
        expected_periods = num_periods - adj_min_period - adj_max_period

        # If the expected number of Fiscal Periods between the
        # min and max dates, is different from the actual number
        # of Fiscal Periods in the DataFrame, then some are missing.
        missing = (expected_periods != len(fiscal_years_periods))

        return missing

    # Process all companies individually and get a Pandas
    # DataFrame with a boolean for each SIMFIN_ID whether
    # it has some missing Fiscal Years.
    idx = df.groupby(SIMFIN_ID).apply(_missing)

    # List of the SIMFIN_ID's that have missing reports.
    simfin_ids = list(idx[idx].index.values)

    return simfin_ids

In [41]:
test_name = "Missing quarterly reports"
test_func = lambda df: len(missing_quarterly_reports(df=df)) > 0
test_datasets(datasets=datasets_fundamental,
              variants=['quarterly'],
              test_name=test_name, test_func=test_func)

Missing quarterly reports
dataset='income', variant='quarterly'
dataset='income-banks', variant='quarterly'
dataset='income-insurance', variant='quarterly'
dataset='balance', variant='quarterly'
dataset='balance-banks', variant='quarterly'
dataset='balance-insurance', variant='quarterly'
dataset='cashflow', variant='quarterly'
dataset='cashflow-banks', variant='quarterly'
dataset='cashflow-insurance', variant='quarterly'

Exception: Missing quarterly reports

In [42]:
# Get list of SIMFIN_ID's that have missing reports for a dataset.
df = data.get(dataset='income', variant='quarterly')
missing_quarterly_reports(df=df)

[36205,
 60906,
 82671,
 82753,
 86808,
 89750,
 98663,
 122208,
 122759,
 123623,
 124551,
 133865,
 139560,
 144111,
 164920,
 181659,
 189248,
 210709,
 217619,
 230667,
 231124,
 233893,
 243720,
 258154,
 258455,
 259098,
 286194,
 286372,
 333440,
 334921,
 337852,
 340222,
 340525,
 350160,
 353395,
 353811,
 358146,
 359467,
 360213,
 362372,
 368990,
 378121,
 378130,
 378142,
 378179,
 378185,
 378197,
 378218,
 378225,
 419436,
 436223,
 495816,
 511749,
 515845,
 546690,
 548204,
 549638,
 569369,
 592569,
 609619,
 617429,
 626019,
 627775,
 637325,
 639819,
 640898,
 641822,
 646016,
 652264,
 652800,
 653045,
 653156,
 653863,
 654226,
 654363,
 658466,
 658467,
 658986,
 659172,
 659371,
 660712,
 662405,
 662407,
 662568,
 662984,
 663635,
 664342,
 664525,
 665991,
 666027,
 666100,
 666570,
 666925,
 667156,
 667670,
 667728,
 668565,
 670859,
 671043,
 678892,
 684097,
 687589,
 687925,
 689588,
 689895,
 692917,
 700411,
 703911,
 704560,
 705165,
 705845,
 706380,
 706764,
 709126,
 709706,
 710987,
 716302,
 721282,
 728722,
 733746,
 733748,
 748002,
 748226,
 748227,
 770174,
 774807,
 778892,
 781663,
 783409,
 785880,
 805241,
 806793,
 809189,
 809799,
 810159,
 815913,
 816466,
 817639,
 818574,
 823787,
 825113,
 847001,
 847387,
 849174,
 849539,
 858017,
 882847,
 883031,
 885908,
 898008,
 898542,
 899361,
 900135,
 902720,
 903526,
 909105,
 910562,
 914943,
 914944,
 917697,
 917766,
 918412,
 923420,
 928017,
 933166,
 933793,
 939173,
 939318]

In [43]:
def sort_quarterly_reports(df, simfin_id):
    """
    Get the data for a given SIMFIN_ID and set the index to be
    the sorted Fiscal Year and Period so it is easier to see
    which ones are missing.
    """
    return df.set_index([SIMFIN_ID, FISCAL_YEAR, FISCAL_PERIOD]).sort_index().loc[simfin_id]

In [44]:
# Show all the reports for a given SIMFIN_ID sorted by
# Fiscal Year and Period so it is easier to see which are missing.
sort_quarterly_reports(df=df, simfin_id=139560)

                          Ticker Currency Report Date Publish Date  \
Fiscal Year Fiscal Period
2012        Q1              REXR      USD  2012-03-31   2013-10-03
            Q2              REXR      USD  2012-06-30   2013-10-03
2013        Q1              REXR      USD  2013-03-31   2013-10-03
            Q2              REXR      USD  2013-06-30   2013-10-03
            Q3              REXR      USD  2013-09-30   2013-11-13
2014        Q1              REXR      USD  2014-03-31   2014-05-14
            Q2              REXR      USD  2014-06-30   2014-08-11
            Q3              REXR      USD  2014-09-30   2014-11-06
            Q4              REXR      USD  2014-12-31   2015-03-09
2015        Q1              REXR      USD  2015-03-31   2015-05-11
            Q2              REXR      USD  2015-06-30   2015-08-10
            Q3              REXR      USD  2015-09-30   2015-11-09
            Q4              REXR      USD  2015-12-31   2016-02-25
2016        Q1              REXR      USD  2016-03-31   2016-05-10
            Q2              REXR      USD  2016-06-30   2016-08-08
            Q3              REXR      USD  2016-09-30   2016-11-07
            Q4              REXR      USD  2016-12-31   2017-02-23
2017        Q1              REXR      USD  2017-03-31   2017-05-05
            Q2              REXR      USD  2017-06-30   2017-08-04
            Q3              REXR      USD  2017-09-30   2017-11-03
            Q4              REXR      USD  2017-12-31   2018-02-21
2018        Q1              REXR      USD  2018-03-31   2018-05-07
            Q2              REXR      USD  2018-06-30   2018-08-06
            Q3              REXR      USD  2018-09-30   2018-11-01
            Q4              REXR      USD  2018-12-31   2019-02-19

                           Shares (Basic)  Shares (Diluted)     Revenue  \
Fiscal Year Fiscal Period
2012        Q1                        NaN               NaN   7968000.0
            Q2                        NaN               NaN   8234000.0
2013        Q1                        NaN               NaN   9317000.0
            Q2                        NaN               NaN  10822000.0
            Q3                 24574432.0        24574432.0   8980000.0
2014        Q1                 25419418.0        25419418.0  13691000.0
            Q2                 25419757.0        25419757.0  14996000.0
            Q3                 33527183.0        33527183.0  18036000.0
            Q4                 43447666.0        43447666.0  19858000.0
2015        Q1                 50683528.0        50683528.0  21340000.0
            Q2                 54963093.0        54963093.0  22722000.0
            Q3                 55145963.0        55145963.0  23674000.0
            Q4                 55307108.0        55307108.0  26164000.0
2016        Q1                 55269598.0        55416947.0  27504000.0
            Q2                 64063337.0        64304713.0  30608000.0
            Q3                 65707476.0        67985177.0  33303000.0
            Q4                 65851673.0        64155379.0  34777000.0
2017        Q1                 66341138.0        66626239.0  35354000.0
            Q2                 67920773.0        68331234.0  36782000.0
            Q3                 72621219.0        73068081.0  43339000.0
            Q4                 77912318.0        78369062.0  45880000.0
2018        Q1                 78694161.0        79196060.0  48536000.0
            Q2                 82924208.0        83494825.0  51756000.0
            Q3                 91463594.0        91945206.0  55194000.0
            Q4                 94214977.0        94706905.0  57008000.0

                           Cost of Revenue  Gross Profit  Operating Expenses  \
Fiscal Year Fiscal Period
2012        Q1                  -1986000.0     5982000.0          -4607000.0
            Q2                  -2184000.0     6050000.0          -4382000.0
2013        Q1                  -2120000.0     7197000.0          -4651000.0
            Q2                  -2442000.0     8380000.0          -5404000.0
            Q3                  -2527000.0     6453000.0          -5525000.0
2014        Q1                  -4134000.0     9557000.0          -8735000.0
            Q2                  -3892000.0    11104000.0          -8783000.0
            Q3                  -4879000.0    13157000.0         -11305000.0
            Q4                  -5477000.0    14381000.0         -11929000.0
2015        Q1                  -5771000.0    15569000.0         -13430000.0
            Q2                  -5874000.0    16848000.0         -14230000.0
            Q3                  -6237000.0    17437000.0         -14420000.0
            Q4                  -7118000.0    19046000.0         -14773000.0
2016        Q1                  -7543000.0    19961000.0         -14816000.0
            Q2                  -7959000.0    22649000.0         -17131000.0
            Q3                  -8978000.0    24325000.0         -18408000.0
            Q4                  -9139000.0    25638000.0         -18467000.0
2017        Q1                  -9222000.0    26132000.0         -18685000.0
            Q2                  -9536000.0    27246000.0         -19638000.0
            Q3                 -11229000.0    32110000.0         -23814000.0
            Q4                 -12152000.0    33728000.0         -24325000.0
2018        Q1                 -11960000.0    36576000.0         -25614000.0
            Q2                 -12775000.0    38981000.0         -26281000.0
            Q3                 -13294000.0    41900000.0         -26373000.0
            Q4                 -13642000.0    43366000.0         -26968000.0

                           ...  Non-Operating Income (Loss)  \
Fiscal Year Fiscal Period  ...
2012        Q1             ...                   -4101000.0
            Q2             ...                   -4436000.0
2013        Q1             ...                   -4070000.0
            Q2             ...                   -5179000.0
            Q3             ...                    -634000.0
2014        Q1             ...                   -1206000.0
            Q2             ...                   -1588000.0
            Q3             ...                   -1955000.0
            Q4             ...                   -1680000.0
2015        Q1             ...                   -1825000.0
            Q2             ...                   -1646000.0
            Q3             ...                   -2200000.0
            Q4             ...                   -2689000.0
2016        Q1             ...                   -3193000.0
            Q2             ...                   -3654000.0
            Q3             ...                   -2476000.0
            Q4             ...                   -4074000.0
2017        Q1             ...                   -3987000.0
            Q2             ...                   -4302000.0
            Q3             ...                   -6271000.0
            Q4             ...                   -5638000.0
2018        Q1             ...                   -5852000.0
            Q2             ...                   -6452000.0
            Q3             ...                   -6456000.0
            Q4             ...                   -6656000.0

                           Interest Expense, Net  \
Fiscal Year Fiscal Period
2012        Q1                        -4158000.0
            Q2                        -4346000.0
2013        Q1                        -3857000.0
            Q2                        -4467000.0
            Q3                         -717000.0
2014        Q1                        -1251000.0
            Q2                        -1537000.0
            Q3                        -1957000.0
            Q4                        -1655000.0
2015        Q1                        -1826000.0
            Q2                        -1658000.0
            Q3                        -2245000.0
            Q4                        -2724000.0
2016        Q1                        -3254000.0
            Q2                        -3716000.0
            Q3                        -3804000.0
            Q4                        -4074000.0
2017        Q1                        -3998000.0
            Q2                        -4302000.0
            Q3                        -6271000.0
            Q4                        -5638000.0
2018        Q1                        -5852000.0
            Q2                        -6452000.0
            Q3                        -6456000.0
            Q4                        -6656000.0

                           Pretax Income (Loss), Adjusted  \
Fiscal Year Fiscal Period
2012        Q1                                 -2726000.0
            Q2                                 -2768000.0
2013        Q1                                 -1524000.0
            Q2                                 -2203000.0
            Q3                                   294000.0
2014        Q1                                  -384000.0
            Q2                                   733000.0
            Q3                                  -103000.0
            Q4                                   772000.0
2015        Q1                                   314000.0
            Q2                                   972000.0
            Q3                                   817000.0
            Q4                                  1584000.0
2016        Q1                                  1952000.0
            Q2                                  1864000.0
            Q3                                  3441000.0
            Q4                                  3097000.0
2017        Q1                                  3460000.0
            Q2                                  3306000.0
            Q3                                  2025000.0
            Q4                                  3765000.0
2018        Q1                                  5110000.0
            Q2                                  6248000.0
            Q3                                  9071000.0
            Q4                                  9742000.0

                           Abnormal Gains (Losses)  Pretax Income (Loss)  \
Fiscal Year Fiscal Period
2012        Q1                            544000.0              -2182000
            Q2                            445000.0              -2323000
2013        Q1                           1284000.0               -240000
            Q2                           -624000.0              -2827000
            Q3                           -119000.0                175000
2014        Q1                           -333000.0               -717000
            Q2                           -652000.0                 81000
            Q3                           -576000.0               -679000
            Q4                           -627000.0                145000
2015        Q1                           -233000.0                 81000
            Q2                           -776000.0                196000
            Q3                           -200000.0                617000
            Q4                           -528000.0               1056000
2016        Q1                           -475000.0               1477000
            Q2                          10928000.0              12792000
            Q3                           -380000.0               3061000
            Q4                           5449000.0               8546000
2017        Q1                           2261000.0               5721000
            Q2                          16549000.0              19855000
            Q3                            -16000.0               2009000
            Q4                          10350000.0              14115000
2018        Q1                           9974000.0              15084000
            Q2                           1571000.0               7819000
            Q3                           -106000.0               8965000
            Q4                           5465000.0              15207000

                           Income Tax (Expense) Benefit, Net  \
Fiscal Year Fiscal Period
2012        Q1                                           NaN
            Q2                                           NaN
2013        Q1                                           NaN
            Q2                                           NaN
            Q3                                           NaN
2014        Q1                                           NaN
            Q2                                           NaN
            Q3                                           NaN
            Q4                                           NaN
2015        Q1                                           NaN
            Q2                                           NaN
            Q3                                           NaN
            Q4                                           NaN
2016        Q1                                           NaN
            Q2                                           NaN
            Q3                                           NaN
            Q4                                           NaN
2017        Q1                                           NaN
            Q2                                           NaN
            Q3                                           NaN
            Q4                                           NaN
2018        Q1                                           NaN
            Q2                                           NaN
            Q3                                           NaN
            Q4                                           NaN

                           Income (Loss) From Continuing Operations  \
Fiscal Year Fiscal Period
2012        Q1                                             -2182000
            Q2                                             -2323000
2013        Q1                                              -240000
            Q2                                             -2827000
            Q3                                               175000
2014        Q1                                              -717000
            Q2                                                81000
            Q3                                              -679000
            Q4                                               145000
2015        Q1                                                81000
            Q2                                               196000
            Q3                                               617000
            Q4                                              1056000
2016        Q1                                              1477000
            Q2                                             12792000
            Q3                                              3061000
            Q4                                              8546000
2017        Q1                                              5721000
            Q2                                             19855000
            Q3                                              2009000
            Q4                                             14115000
2018        Q1                                             15084000
            Q2                                              7819000
            Q3                                              8965000
            Q4                                             15207000

                           Net Extraordinary Gains (Losses)  Net Income  \
Fiscal Year Fiscal Period
2012        Q1                                      77000.0     -172000
            Q2                                    -145000.0    -1459000
2013        Q1                                    2294000.0      328000
            Q2                                    2359000.0    -2286000
            Q3                                     120000.0      256000
2014        Q1                                    2146000.0     1277000
            Q2                                          NaN       73000
            Q3                                          NaN     -599000
            Q4                                          NaN      145000
2015        Q1                                          NaN       77000
            Q2                                          NaN      188000
            Q3                                          NaN      593000
            Q4                                          NaN     1016000
2016        Q1                                          NaN     1425000
            Q2                                          NaN    12374000
            Q3                                          NaN     2998000
            Q4                                          NaN     8329000
2017        Q1                                          NaN     5589000
            Q2                                          NaN    19324000
            Q3                                          NaN     1988000
            Q4                                          NaN    13811000
2018        Q1                                          NaN    14766000
            Q2                                          NaN     7690000
            Q3                                          NaN     8824000
            Q4                                          NaN    14930000

                           Net Income Available to Common Shareholders
Fiscal Year Fiscal Period
2012        Q1                                                 -172000
            Q2                                                -1459000
2013        Q1                                                  328000
            Q2                                                -2286000
            Q3                                                  256000
2014        Q1                                                 1261000
            Q2                                                   49000
            Q3                                                 -623000
            Q4                                                  107000
2015        Q1                                                   27000
            Q2                                                  139000
            Q3                                                  540000
            Q4                                                  945000
2016        Q1                                                 1347000
            Q2                                                12299000
            Q3                                                 2267000
            Q4                                                 6928000
2017        Q1                                                 4176000
            Q2                                                17846000
            Q3                                                  586000
            Q4                                                11819000
2018        Q1                                                12246000
            Q2                                                 5172000
            Q3                                                 6307000
            Q4                                                12413000

[25 rows x 24 columns]

## Missing TTM Reports

Trailing-Twelve-Months (TTM) data is also quarterly so we can use the same helper-functions from above.

In [45]:
test_name = "Missing ttm reports"
test_func = lambda df: len(missing_quarterly_reports(df=df)) > 0
test_datasets(datasets=datasets_fundamental,
              variants=['ttm'],
              test_name=test_name, test_func=test_func)

Missing ttm reports
dataset='income', variant='ttm'
dataset='income-banks', variant='ttm'
dataset='income-insurance', variant='ttm'
dataset='balance', variant='ttm'
dataset='balance-banks', variant='ttm'
dataset='balance-insurance', variant='ttm'
dataset='cashflow', variant='ttm'

Exception: Missing ttm reports

In [46]:
# Get list of SIMFIN_ID's that have missing reports for a dataset.
df = data.get(dataset='income', variant='ttm')
missing_quarterly_reports(df=df)

[89750,
 98663,
 133865,
 181659,
 189248,
 233893,
 258154,
 337852,
 340222,
 353395,
 378179,
 419436,
 436223,
 548204,
 569369,
 592569,
 609619,
 626019,
 637325,
 640898,
 646016,
 653156,
 654363,
 659172,
 659371,
 662568,
 664525,
 689588,
 689895,
 703911,
 705165,
 728722,
 733746,
 748002,
 748226,
 748227,
 778892,
 815913,
 825113,
 903526,
 910562,
 928017]

In [47]:
# Show all the reports for a given SIMFIN_ID sorted by
# Fiscal Year and Period so it is easier to see which are missing.
sort_quarterly_reports(df=df, simfin_id=89750)

                          Ticker Currency Report Date Publish Date  \
Fiscal Year Fiscal Period
2008        Q4               DHR      USD  2008-12-31   2009-10-22
2009        Q1               DHR      USD  2009-03-31   2010-04-22
            Q2               DHR      USD  2009-06-30   2009-07-23
            Q3               DHR      USD  2009-09-30   2009-10-22
2010        Q4               DHR      USD  2010-12-31   2011-02-24
2011        Q1               DHR      USD  2011-03-31   2011-04-21
            Q2               DHR      USD  2011-06-30   2011-07-27
            Q3               DHR      USD  2011-09-30   2011-10-20
            Q4               DHR      USD  2011-12-31   2012-02-24
2012        Q1               DHR      USD  2012-03-31   2012-04-19
            Q2               DHR      USD  2012-06-30   2012-07-19
            Q3               DHR      USD  2012-09-30   2012-10-18
            Q4               DHR      USD  2012-12-31   2013-02-22
2013        Q1               DHR      USD  2013-03-31   2013-04-18
            Q2               DHR      USD  2013-06-30   2013-07-18
            Q3               DHR      USD  2013-09-30   2013-10-17
            Q4               DHR      USD  2013-12-31   2014-02-21
2014        Q1               DHR      USD  2014-03-31   2014-04-16
            Q2               DHR      USD  2014-06-30   2014-07-17
            Q3               DHR      USD  2014-09-30   2014-10-16
            Q4               DHR      USD  2014-12-31   2015-02-25
2015        Q1               DHR      USD  2015-03-31   2015-04-23
            Q2               DHR      USD  2015-06-30   2015-07-23
            Q3               DHR      USD  2015-09-30   2015-10-22
            Q4               DHR      USD  2015-12-31   2016-02-24
2016        Q1               DHR      USD  2016-03-31   2016-04-21
            Q2               DHR      USD  2016-06-30   2016-07-25
            Q3               DHR      USD  2016-09-30   2016-10-20
            Q4               DHR      USD  2016-12-31   2017-02-22
2017        Q1               DHR      USD  2017-03-31   2017-04-20
            Q2               DHR      USD  2017-06-30   2017-07-20
            Q3               DHR      USD  2017-09-30   2017-10-19
            Q4               DHR      USD  2017-12-31   2018-02-21
2018        Q1               DHR      USD  2018-03-31   2018-04-19
            Q2               DHR      USD  2018-06-30   2018-07-19
            Q3               DHR      USD  2018-09-30   2018-10-18
            Q4               DHR      USD  2018-12-31   2019-02-21
2019        Q1               DHR      USD  2019-03-31   2019-04-18

                           Shares (Basic)  Shares (Diluted)       Revenue  \
Fiscal Year Fiscal Period
2008        Q4                843114360.0       886680300.0  1.269746e+10
2009        Q1                843466140.0       885034260.0  1.229633e+10
            Q2                843916920.0       883707000.0  1.168604e+10
            Q3                844712880.0       883003440.0  1.122855e+10
2010        Q4                862224000.0       901956000.0  1.255000e+10
2011        Q1                866392230.0       904663980.0  1.283437e+10
            Q2                871252800.0       908710110.0  1.325281e+10
            Q3                882030600.0       917610870.0  1.460576e+10
            Q4                892584000.0       925584000.0  1.609050e+10
2012        Q1                902451330.0       934055760.0  1.711450e+10
            Q2                911821020.0       940755090.0  1.803213e+10
            Q3                914441550.0       941909100.0  1.800184e+10
            Q4                915288000.0       941292000.0  1.826040e+10
2013        Q1                915453000.0       939444000.0  1.838890e+10
            Q2                915321000.0       937761000.0  1.857290e+10
            Q3                916146000.0       937101000.0  1.882650e+10
            Q4                918720000.0       938520000.0  1.828310e+10
2014        Q1                921393000.0       940632000.0  1.850110e+10
            Q2                923373000.0       942546000.0  1.872720e+10
            Q3                924990000.0       943965000.0  1.876520e+10
            Q4                702200000.0       716100000.0  1.286690e+10
2015        Q1                704543000.0       717387000.0  1.289890e+10
            Q2                650522000.0       661139000.0  1.289550e+10
            Q3                590789000.0       599468000.0  1.170060e+10
            Q4                698100000.0       708500000.0  1.443370e+10
2016        Q1                636874000.0       645604000.0  1.366310e+10
            Q2                632224000.0       640429000.0  1.294480e+10
            Q3                633149000.0       641079000.0  1.356470e+10
            Q4                691200000.0       699800000.0  1.688240e+10
2017        Q1                692625000.0       701950000.0  1.716400e+10
            Q2                693750000.0       703575000.0  1.743220e+10
            Q3                694750000.0       704650000.0  1.782830e+10
            Q4                695800000.0       706100000.0  1.832970e+10
2018        Q1                696875000.0       707050000.0  1.881940e+10
            Q2                698075000.0       708075000.0  1.929030e+10
            Q3                699375000.0       709325000.0  1.961520e+10
            Q4                700600000.0       710200000.0  1.989300e+10
2019        Q1                702850000.0       712450000.0  2.007750e+10

                           Cost of Revenue  Gross Profit  Operating Expenses  \
Fiscal Year Fiscal Period
2008        Q4               -6.757262e+09  5.940194e+09       -4.070717e+09
2009        Q1               -6.515239e+09  5.781087e+09       -3.984613e+09
            Q2               -6.202983e+09  5.483057e+09       -3.853101e+09
            Q3               -5.935108e+09  5.293444e+09       -3.806149e+09
2010        Q4               -6.145500e+09  6.404500e+09       -4.377700e+09
2011        Q1               -6.149731e+09  6.684638e+09       -4.509005e+09
            Q2               -6.256175e+09  6.996637e+09       -4.743273e+09
            Q3               -7.037980e+09  7.567783e+09       -5.229818e+09
            Q4               -7.913900e+09  8.176600e+09       -5.626200e+09
2012        Q1               -8.451252e+09  8.663250e+09       -5.962728e+09
            Q2               -8.930933e+09  9.101198e+09       -6.202873e+09
            Q3               -8.805727e+09  9.196117e+09       -6.187656e+09
            Q4               -8.846100e+09  9.414300e+09       -6.319100e+09
2013        Q1               -8.884400e+09  9.504500e+09       -6.398900e+09
            Q2               -8.928400e+09  9.644500e+09       -6.488600e+09
            Q3               -9.035300e+09  9.791200e+09       -6.560200e+09
            Q4               -8.941100e+09  9.342000e+09       -6.221500e+09
2014        Q1               -9.031900e+09  9.469200e+09       -6.290700e+09
            Q2               -9.133300e+09  9.593900e+09       -6.369700e+09
            Q3               -9.143700e+09  9.621500e+09       -6.343500e+09
            Q4               -6.017400e+09  6.849500e+09       -4.804500e+09
2015        Q1               -6.034100e+09  6.864800e+09       -4.853600e+09
            Q2               -6.006900e+09  6.888600e+09       -4.832300e+09
            Q3               -5.370900e+09  6.329700e+09       -4.659600e+09
            Q4               -6.662600e+09  7.771100e+09       -5.608900e+09
2016        Q1               -6.192900e+09  7.470200e+09       -5.450000e+09
            Q2               -5.737300e+09  7.207500e+09       -5.411600e+09
            Q3               -5.964600e+09  7.600100e+09       -5.585100e+09
            Q4               -7.547800e+09  9.334600e+09       -6.583700e+09
2017        Q1               -7.662400e+09  9.501600e+09       -6.739900e+09
            Q2               -7.829600e+09  9.602600e+09       -6.867300e+09
            Q3               -7.974900e+09  9.853400e+09       -7.049700e+09
            Q4               -8.137200e+09  1.019250e+10       -7.171300e+09
2018        Q1               -8.317600e+09  1.050180e+10       -7.361500e+09
            Q2               -8.453700e+09  1.083660e+10       -7.512500e+09
            Q3               -8.624900e+09  1.099030e+10       -7.603000e+09
            Q4               -8.785900e+09  1.110710e+10       -7.703300e+09
2019        Q1               -8.896000e+09  1.118150e+10       -7.796900e+09

                           ...  Non-Operating Income (Loss)  \
Fiscal Year Fiscal Period  ...
2008        Q4             ...                 -120170000.0
2009        Q1             ...                 -106415000.0
            Q2             ...                 -104176000.0
            Q3             ...                  -20158000.0
2010        Q4             ...                  -88200000.0
2011        Q1             ...                  -73558000.0
            Q2             ...                  -60325000.0
            Q3             ...                  -67383000.0
            Q4             ...                  -69700000.0
2012        Q1             ...                  -80151000.0
            Q2             ...                  -84679000.0
            Q3             ...                  -78900000.0
            Q4             ...                  -84400000.0
2013        Q1             ...                  -98400000.0
            Q2             ...                 -117000000.0
            Q3             ...                 -130400000.0
            Q4             ...                  295800000.0
2014        Q1             ...                  306500000.0
            Q2             ...                  334000000.0
            Q3             ...                  379800000.0
            Q4             ...                   41200000.0
2015        Q1             ...                   41800000.0
            Q2             ...                   25400000.0
            Q3             ...                  -12900000.0
            Q4             ...                 -122800000.0
2016        Q1             ...                   74700000.0
            Q2             ...                   45900000.0
            Q3             ...                   28400000.0
            Q4             ...                   39200000.0
2017        Q1             ...                 -170000000.0
            Q2             ...                 -153400000.0
            Q3             ...                 -147500000.0
            Q4             ...                  -82400000.0
2018        Q1             ...                  -73600000.0
            Q2             ...                  -67100000.0
            Q3             ...                  -58800000.0
            Q4             ...                 -111000000.0
2019        Q1             ...                  -83500000.0

                           Interest Expense, Net  \
Fiscal Year Fiscal Period
2008        Q4                      -120170000.0
2009        Q1                      -106415000.0
            Q2                      -104176000.0
            Q3                      -105276000.0
2010        Q4                      -111000000.0
2011        Q1                      -110833000.0
            Q2                      -112060000.0
            Q3                      -124559000.0
            Q4                      -136500000.0
2012        Q1                      -146876000.0
            Q2                      -154944000.0
            Q3                      -151674000.0
            Q4                      -154300000.0
2013        Q1                      -153900000.0
            Q2                      -154500000.0
            Q3                      -149400000.0
            Q4                      -135500000.0
2014        Q1                      -124800000.0
            Q2                      -116500000.0
            Q3                      -108900000.0
            Q4                       -81400000.0
2015        Q1                       -80800000.0
            Q2                       -78000000.0
            Q3                       -90500000.0
            Q4                      -135200000.0
2016        Q1                      -161100000.0
            Q2                      -189900000.0
            Q3                      -195000000.0
            Q4                      -184200000.0
2017        Q1                      -170000000.0
            Q2                      -153400000.0
            Q3                      -147500000.0
            Q4                      -155200000.0
2018        Q1                      -154200000.0
            Q2                      -156000000.0
            Q3                      -156800000.0
            Q4                      -148200000.0
2019        Q1                      -118100000.0

                           Pretax Income (Loss), Adjusted  \
Fiscal Year Fiscal Period
2008        Q4                               1.749307e+09
2009        Q1                               1.690059e+09
            Q2                               1.525780e+09
            Q3                               1.467137e+09
2010        Q4                               1.938600e+09
2011        Q1                               2.102075e+09
            Q2                               2.193039e+09
            Q3                               2.270582e+09
            Q4                               2.480700e+09
2012        Q1                               2.620371e+09
            Q2                               2.813646e+09
            Q3                               2.929561e+09
            Q4                               3.010800e+09
2013        Q1                               3.007200e+09
            Q2                               3.038900e+09
            Q3                               3.100600e+09
            Q4                               3.416300e+09
2014        Q1                               3.485000e+09
            Q2                               3.558200e+09
            Q3                               3.657800e+09
            Q4                               2.086200e+09
2015        Q1                               2.053000e+09
            Q2                               2.081700e+09
            Q3                               1.657200e+09
            Q4                               2.039400e+09
2016        Q1                               2.094900e+09
            Q2                               1.841800e+09
            Q3                               2.043400e+09
            Q4                               2.790100e+09
2017        Q1                               2.591700e+09
            Q2                               2.581900e+09
            Q3                               2.656200e+09
            Q4                               2.938800e+09
2018        Q1                               3.066700e+09
            Q2                               3.257000e+09
            Q3                               3.328500e+09
            Q4                               3.292800e+09
2019        Q1                               3.301100e+09

                           Abnormal Gains (Losses)  Pretax Income (Loss)  \
Fiscal Year Fiscal Period
2008        Q4                                 NaN            1749307000
2009        Q1                                 NaN            1690059000
            Q2                                 NaN            1525780000
            Q3                                 NaN            1467137000
2010        Q4                                 NaN            2229600000
2011        Q1                                 NaN            2393075000
            Q2                                 NaN            2484039000
            Q3                                 NaN            2237658000
            Q4                                 NaN            2447800000
2012        Q1                                 NaN            2587471000
            Q2                                 NaN            2780746000
            Q3                                 NaN            2929548000
            Q4                                 NaN            3010800000
2013        Q1                                 NaN            3237000000
            Q2                                 NaN            3268700000
            Q3                                 NaN            3330400000
            Q4                                 NaN            3416300000
2014        Q1                                 NaN            3255200000
            Q2                                 NaN            3328400000
            Q3                                 NaN            3428000000
            Q4                                 NaN            2086200000
2015        Q1                                 NaN            2053000000
            Q2                                 NaN            2081700000
            Q3                                 NaN            1657200000
            Q4                                 NaN            2039400000
2016        Q1                                 NaN            2094900000
            Q2                                 NaN            1841800000
            Q3                                 NaN            1864600000
            Q4                                 NaN            2611300000
2017        Q1                                 NaN            2412900000
            Q2                                 NaN            2403100000
            Q3                                 NaN            2656200000
            Q4                                 NaN            2938800000
2018        Q1                                 NaN            3066700000
            Q2                                 NaN            3257000000
            Q3                                 NaN            3328500000
            Q4                                 NaN            3292800000
2019        Q1                                 NaN            3301100000

                           Income Tax (Expense) Benefit, Net  \
Fiscal Year Fiscal Period
2008        Q4                                  -431676000.0
2009        Q1                                  -411221000.0
            Q2                                  -314696000.0
            Q3                                  -276682000.0
2010        Q4                                  -511400000.0
2011        Q1                                  -550847000.0
            Q2                                  -564384000.0
            Q3                                  -436399000.0
            Q4                                  -512500000.0
2012        Q1                                  -548946000.0
            Q2                                  -581571000.0
            Q3                                  -697081000.0
            Q4                                  -711500000.0
2013        Q1                                  -765800000.0
            Q2                                  -780900000.0
            Q3                                  -794300000.0
            Q4                                  -825700000.0
2014        Q1                                  -776800000.0
            Q2                                  -790400000.0
            Q3                                  -805700000.0
            Q4                                  -447500000.0
2015        Q1                                  -436000000.0
            Q2                                  -425600000.0
            Q3                                  -302500000.0
            Q4                                  -292700000.0
2016        Q1                                  -320400000.0
            Q2                                  -364800000.0
            Q3                                  -364900000.0
            Q4                                  -457900000.0
2017        Q1                                  -361500000.0